
/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 130%;
}

:root{
    --bg-header: #ff6900;
    --bg-footer: #1a1a1a;
    --bg-main: #ffffff;
    --cl-primary_text: #000000;
    --cl-secondary_text: #ffffff;
    --bg_flag-discount: #ff0000;
    --bg_flag-sustainability: #008000;
}
.py-2{
    padding: 2rem 0;
}

.py-3{
    padding: 3rem 0;
}

.txt-center{
    text-align: center;
}

.txt-end{
    text-align: end;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.list{
    ul{
        display: flex;
        list-style: none;

        li{
            font-size: 1rem;
            font-weight: bold;
        }

        li>a{
            text-decoration: none;
            color: var(--cl-secondary_text);
            padding: 0 5px;
        }
    }
}

h3{
    color: var(--cl-secondary_text);
    font-size: 0.75rem;
    font-weight: bold;
    padding:0 0 0.5rem 0;
}
/* #endregion common */

/* #region header */
header{
    background-color: var(--bg-header);
}

.categories{
    width: 33%;
}

#logo{
    width: 33%;
    img{
        max-width: 150px;
    }
}

#login_likes_cart{
    width: 33%;
    text-align: end;

    i{
        padding: 5px;
        color: var(--cl-secondary_text);
    }
}

/* #endregion header */

/* #region main */
main{
    margin: 2rem 0;
}
main>.container{
    flex-direction: column;
}

.row_products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.products{
    position: relative;
    max-width: 32%;
    max-height: 100%;
}
/* #region hover products */
.hover{
    display: none;
    position: absolute;
    right: 0;
}

.products:hover .hover{
    display: inline;
  }
/* #endregion hover products */

.like{
    position: absolute;
    right: 0;
    top: 5px;
    background-color: var(--bg-main);
    padding: 0.5rem 1rem;
}
/* #region hover like */
.like:hover{
    color: #ff0000;
}
/* #endregion hover like */
.flags{
    position: absolute;
    left: 0;
    bottom: 6rem;
    display: flex;
    gap: 0.25rem;

    .discount{
        font-size: 0.75rem;
        font-weight: bold;
        background-color: var(--bg_flag-discount);
        color: var(--cl-secondary_text);
        padding: 0.25rem 0.75rem;
    }

    .sustainability{
        font-size: 0.75rem;
        font-weight: bold;
        background-color: var(--bg_flag-sustainability);
        color: var(--cl-secondary_text);
        padding: 0.25rem 0.75rem;
    }
}

.info-products{
    .brand{
        font-size: 0.75rem;
        font-weight: lighter;
    }

    .model{
        font-size: 1rem;
        font-weight: bolder;
    }

    .pricing{
        font-size: 1rem;
        font-weight: bolder;
        color: var(--bg_flag-discount);
    }

    .line{
        text-decoration:line-through;
        color: var(--cl-primary_text);
    }
}

/* #endregion main */

/* #region footer */
footer{
    background-color: var(--bg-footer);
}

footer>.container{
    div{
        width: 50%;
    }
}

.legal_info>ul{
    li{
        font-size: 0.5rem;
        font-weight: lighter;
    }
    li>a{
        padding: 0 8px 0 0;
    }
}

.socials>i{
    color: var(--cl-secondary_text);
}
/* #endregion footer */