/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 130%;
}

:root{
    --bg-header: #ff6900;
    --bg-footer: #1a1a1a;
    --bg-main: #ffffff;
    --cl-primary_text: #000000;
    --cl-secondary_text: #ffffff;
    --bg_flag-discount: #ff0000;
    --bg_flag-sustainability: #008000;
}
.py-2{
    padding: 2rem 0;
}

.py-3{
    padding: 3rem 0;
}

.txt-center{
    text-align: center;
}

.txt-end{
    text-align: end;
}

img{
    max-width: 100%;
}

.container{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    gap: 1rem;
}

.list{
    ul{
        display: flex;
        list-style: none;

        li{
            font-size: 1rem;
            font-weight: bold;
        }

        li>a{
            text-decoration: none;
            color: var(--cl-secondary_text);
            padding: 0 5px;
        }
    }
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

h2{
    font-size: 1.25rem;
    font-weight: lighter;
}

h3{
    color: var(--cl-secondary_text);
    font-size: 0.75rem;
    font-weight: bold;
    padding:0 0 0.5rem 0;
}
/* #endregion common */

/* #region header */
header{
    background-color: var(--bg-header);
}

.categories{
    width: 33%;
}

#logo{
    width: 33%;
    img{
        max-width: 150px;
    }
}

#login_likes_cart{
    width: 33%;
    text-align: end;

    i{
        padding: 5px;
        color: var(--cl-secondary_text);
    }
}

/* #endregion header */

/* #region main */
#image_product{
    width: 50%;
    display: flex;
    position: relative;
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    width: 50%;

    #description{
        h3{
            color: var(--cl-primary_text);
            font-size: 1.5rem;
            font-weight: bolder;
            vertical-align: middle;
            padding: 1rem 0 0.5rem 0;
        }

        p{
            font-size: 1.1rem;
        }

    } 

    #buy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #button{
            padding: 0.5rem 0;
            button{
                background-color: #008000;
                padding: 1rem 1.5rem;
                font-size: 1rem;
                color: var(--cl-secondary_text);
                font-weight: bold;
                border: none;
                border-radius: 2rem;
                cursor: pointer;
            }
        }
    
        #price{
            display: flex;
            padding: 0.5rem 0;
    
            h3{
                color: var(--cl-primary_text);
                font-size: 1.5rem;
                font-weight: bolder;
                vertical-align: middle;
                padding: 0;
            }
            p{
                font-size: 1.5rem;
                vertical-align: middle;
                font-weight: bold;
                padding: 0 0 0 1rem;
                color: #ff0000;
                span{
                    font-size: 1.25rem;
                    color: var(--cl-primary_text);
                    text-decoration: line-through;
                    font-weight: lighter;
                    padding-left: 5px;
                }
            }
        }
    }
    
}




    /* #region hover products */
    .hover{
        display: none;
        position: absolute;
        right: 0;
    }

    #image_product:hover .hover{
        display: inline;
    }
    /* #endregion hover products */

/* #endregion main */

/* #region footer */
footer{
    background-color: var(--bg-footer);
}

footer>.container{
    div{
        width: 50%;
    }
}

.legal_info>ul{
    li{
        font-size: 0.5rem;
        font-weight: lighter;
    }
    li>a{
        padding: 0 8px 0 0;
    }
}

.socials>i{
    color: var(--cl-secondary_text);
}
/* #endregion footer */